@model AssignProjectViewModel
@{
    ViewBag.Title = "Assign";
}

<h2>Assign</h2>

@section scripts  {
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".btn-assign").on('click', function (e) {
                    e.preventDefault();
                    $(this).closest('form').submit();
                });
            });
        });
    </script>
}

@Html.ValidationSummary(false)

@if (Model == null)
{
    <div style="margin-top:15px;">
        <p><strong>There are no projects or users</strong></p>
    </div>
}
else
{
    <h5>@Model.ProjectName</h5>
    <div>
        @foreach (var record in Model.MyUsers)
        {
            <div>@record.UserName</div>
            <div>
                <form method="post" action="@Url.Action("UnAssign", "Project", new { userId = record.Id, pJid = Model.ProjectId } )">
                    <a href="#" class="btn-assign">UnAssign</a>
                </form>
            </div>
        }
    </div>

    <h5 style="margin-top: 15px">Users</h5>
    <div>
        @foreach (var record in Model.Users)
        {
            <div>@record.UserName</div>
            <div>
                <form class="getout" method="post" action="@Url.Action("Assign", "Project", new { userId = record.Id, pJid = Model.ProjectId } )">
                    <a href="#" class="btn-assign getout">Assign</a>
                </form>

            </div>
        }
    </div>
}
