@model AssignRoleViewModel
@{
    ViewBag.Title = "AssignRole";
}

<h2 style="margin-bottom: 15px">Assign Role</h2>


<form method="post">
    <h5>@Model.User.UserName</h5>
    <div class="form-group">
        @Html.LabelFor(p => Model.User.IsAdmin, Model.Roles[0])
        @Html.CheckBoxFor(p => Model.User.IsAdmin)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => Model.User.IsDev, Model.Roles[1])
        @Html.CheckBoxFor(p => Model.User.IsDev)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => Model.User.IsPm, Model.Roles[2])
        @Html.CheckBoxFor(p => Model.User.IsPm)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => Model.User.IsSub, Model.Roles[3])
        @Html.CheckBoxFor(p => Model.User.IsSub)
    </div>


    <div class="">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


@*<table class="table table-striped table-auto-sort">
    <thead>
        <tr>
            <th>Username</th>
            @foreach (var roleName in Model.Roles)
            {
                <th>@roleName</th>
            }


        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.User.UserName</td>
            <td>@Html.CheckBoxFor(p => Model.User.IsAdmin)</td>
            <td>@Html.CheckBoxFor(p => Model.User.IsDev)</td>
            <td>@Html.CheckBoxFor(p => Model.User.IsPm)</td>
            <td>@Html.CheckBoxFor(p => Model.User.IsSub)</td>
        </tr>


    </tbody>
</table>*@

