@model  List<IndexProjectViewModel>
@{
    ViewBag.Title = "All Projects";
}

<h2>@ViewBag.Title</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "Project")"
   style="margin-top: 10px; margin-bottom: 15px;">Create new projects</a>
<br />

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>There are no projects</strong></p>
    </div>
}
else
{
    <table class="table table-striped table-auto-sort">
        <thead>
            <tr>
                <th>Project name</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Assigned Users</th>
                <th>Tickets</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.DateCreated</td>
                    <td>@record.DateUpdated</td>
                    <td>@record.AssignedUsers</td>
                    <td>@record.Tickets</td>
                    <td>
                        <a href="@Url.Action("AssignProjectManagement", "Project", new {id = record.Id})">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Project", new { id = record.Id })">
                            <i class="fas fa-fw fa-wrench"></i>
                        </a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
}
