@model AssignRoleManagementViewModel
@{
    ViewBag.Title = "Assign Role";
}

@section scripts  {
    <script src="~/resources/js/auto-table.js"></script>
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-auto-sort">
    <thead>
        <tr>
            <th>Username</th>
            @foreach (var roleName in Model.Roles)
            {
                <th>@roleName</th>
            }
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.Users)
        {
            <tr>
                <td>@record.UserName</td>
                <td>
                    <i class="@record.DisplayIsAdmin"></i>
                    <span style="display: none">@record.IsAdmin </span>
                </td>
                <td>
                    <i class="@record.DisplayIsDev"></i>
                    <span style="display: none">@record.IsDev </span>
                </td>
                <td>
                    <i class="@record.DisplayIsPm"></i>
                    <span style="display: none">@record.IsPm </span>
                </td>
                <td>
                    <i class="@record.DisplayIsSub"></i>
                    <span style="display: none">@record.IsSub </span>
                </td>
                <td>
                    <a href="@Url.Action("AssignRole", "Role", new { id = record.Id })">
                        <i class="fas fa-user-edit"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

