@model IndexHomeViewModel
@{
    ViewBag.Title = "Home Page";
}


<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

    <div class="row">
        <!-- Projects -->

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Projects</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.NumOwnedProjects</div>
                        </div>
                        <div class="col-auto">
                            @if (Model.YesAdmin || Model.YesPm)
                            {
                                <a href="@Url.Action("Index", "Project")">
                                    <i class="fas fa-book fa-2x text-gray-300"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("IndexIndividual", "Project")">
                                    <i class="fas fa-book fa-2x text-gray-300"></i>
                                </a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                @if (Model.YesAdmin || Model.YesPm)
                                {
                                    <span>Total Tickets</span>
                                }
                                else if (Model.YesDev)
                                {
                                    <span> Assigned Tickets </span>
                                }
                                else if (Model.YesSub)
                                {
                                    <span> Created Tickets </span>
                                }
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.NumOwnedTickets</div>
                        </div>
                        <div class="col-auto">
                            @if (Model.YesAdmin || Model.YesPm)
                            {
                                <a href="@Url.Action("Index", "Ticket")">
                                    <i class="fas fa-tasks fa-2x text-gray-300"></i>
                                </a>
                            }
                            else if (Model.YesDev)
                            {
                                <a href="@Url.Action("IndexDevAll", "Ticket")">
                                    <i class="fas fa-tasks fa-2x text-gray-300"></i>
                                </a>
                            }
                            else if (Model.YesSub)
                            {
                                <a href="@Url.Action("IndexSubAll", "Ticket")">
                                    <i class="fas fa-tasks fa-2x text-gray-300"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.YesAdmin || Model.YesPm)
        {
            <!-- Opened Tickets -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Opened Tickets</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.NumOpenTk</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-folder-open fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resolved Tickets -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Resolved Tickets</div>
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.NumResolvedTk</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas  fa-check-circle fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rejected Tikcets -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rejected Tikcets</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.NumRejectedTk</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-ban fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>