@model List<IndexTicketViewModel>
@{

    ViewBag.Title = "All Tickets";

}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>There are no tickets</strong></p>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-auto-sort">
            <thead>
                <tr>
                    <th>Ticket title</th>
                    <th>Project name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Assigned deveopler</th>
                    <th>Creator</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Detail", "Ticket", new { id = record.Id })">
                                @record.Title
                            </a>
                        </td>
                        <td>@record.ProjectName</td>
                        <td>@record.TicketType</td>
                        <td>@record.TicketStatus</td>
                        <td>@record.TicketPriority</td>
                        <td>@record.AssignedDev</td>
                        <td>@record.CreatorName</td>
                        <td>@record.DateCreated</td>
                        <td>@record.DateUpdated</td>
                        <td>
                            <a href="@Url.Action("AssignTicketManagement", "Ticket", new {id = record.Id})">
                                <i class="fas fa-user-edit" style="margin-bottom:auto"></i>
                            </a>
                            <a href="@Url.Action("Edit", "Ticket", new { id = record.Id })">
                                <i class="fas fa-fw fa-wrench" style="margin-top:auto"></i>
                            </a>
                        </td>
                        <td>
                            @using (Html.BeginForm("OptIn", "Ticket", new { tkId = record.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-primary btn-sm" style="margin-bottom:3px">
                                    <i class="fas fa-bell"></i>
                                </button>
                            }
                            @using (Html.BeginForm("OptOut", "Ticket", new { tkId = record.Id }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-primary btn-sm" style="margin-top:3px">
                                    <i class="far fa-bell-slash"></i>
                                </button>
                            }

                            @*<a href="@Url.Action("OptIn", "Ticket", new { id = record.Id })">
                                    <i class="fas fa-bell"></i>
                                </a>*@
                            @*<a href="@Url.Action("OptOut", "Ticket", new { id = record.Id })">
                                    <i class="far fa-bell-slash"></i>
                                </a>*@
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
}


